@using RegistrantApp.ClientApi
@using Blazored.LocalStorage
@using Newtonsoft.Json
@using RegistrantApp.Shared.PresentationLayer.Accounts
@inject RApi Api;
@inject ILocalStorageService LocalStorage
@inject NavigationManager Navigation;


@if (_currentUser is not null)
{
    <a class="text-base font-medium text-white hover:text-indigo-50" href="security/logout">Выход</a>
}
<a class="text-base font-medium text-white hover:text-indigo-50" href="contragents">Контрагенты</a>
<a class="text-base font-medium text-white hover:text-indigo-50" href="accounts">Водители</a>
<a class="text-base font-medium text-white hover:text-indigo-50" href="orders">Заказы</a>
<a class="text-base font-medium text-white hover:text-indigo-50" href="security/audit">Журнал аудита</a>


@code {

    private ViewAccount? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        await WatchLogon();
        ;
    }

    private async Task WatchLogon()
    {
        var token = await LocalStorage.GetItemAsync<string>("token");

        if (token is null)
            Navigation.NavigateTo("/security/login", true);

        var responce = await Api.Accounts.GetAsync(token, 0);

        if (!responce.IsSuccessStatusCode)
            Navigation.NavigateTo("/security/login", true);

        if (responce.Content is not null)
            _currentUser = JsonConvert.DeserializeObject<ViewAccount>(responce.Content);

        StateHasChanged();
    }

}