@using RegistrantApp.ClientApi
@using Blazored.LocalStorage
@using Newtonsoft.Json
@using RegistrantApp.Shared.PresentationLayer.Accounts
@inject RApi Api;
@inject ILocalStorageService LocalStorage
@inject NavigationManager Navigation;

<a href="contragents" class="text-indigo-100 text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10">Контрагенты</a>
<a href="accounts" class="text-indigo-100 text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10">Водители</a>
<a href="orders" class="text-indigo-100 text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10">Заказы</a>
<a href="security/audit" class="text-indigo-100 text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10">Журнал аудита</a>


@code {

    private ViewAccount? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        await WatchLogon();
        ;
    }

    private async Task WatchLogon()
    {
        var token = await LocalStorage.GetItemAsync<string>("token");

        if (token is null)
            Navigation.NavigateTo("/security/login", true);

        var responce = await Api.Accounts.GetAsync(token, 0);

        if (!responce.IsSuccessStatusCode)
            Navigation.NavigateTo("/security/login", true);

        if (responce.Content is not null)
            _currentUser = JsonConvert.DeserializeObject<ViewAccount>(responce.Content);

        StateHasChanged();
    }

}