@page "/contragents"
@using RegistrantApp.Shared.PresentationLayer.Contragents
@using RegistrantApp.ClientApi
@using RegistrantApp.Shared.Dto.Security
@inject RApi Api;

<PageTitle>Контрагенты</PageTitle>

<h3 class="text-lg font-medium leading-6 text-gray-900">Контрагенты</h3>

<div class="mt-4 bg-gray-50 sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6">
        <div class="mt-2 max-w-xl text-sm text-gray-500 flex-row flex items-center">
            <div>
                <input type="text" name="search" id="search" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="ООО Ромашка">
            </div>
            <div class="ml-4 flex justify-center">
                <div class="flex h-5 flex justify-center items-center">
                    <input id="showDeleted" aria-describedby="comments-description" name="comments"
                           type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                </div>
                <div class="ml-3 text-sm flex justify-center">
                    <label for="showDeleted" class="font-medium text-gray-700">Удаленные</label>
                </div>
            </div>
            <div class="ml-4">
                <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-700 ">Поиск</button>
            </div>
            <div class="ml-2">
                <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-700 ">Создать</button>
            </div>
        </div>
    </div>
</div>

<div>
    //TAble
</div>

<nav class="mt-4 flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6" aria-label="Pagination">
    <div class="hidden sm:block">
        <p class="text-sm text-gray-700">
            Showing
            <span class="font-medium">1</span>
            to
            <span class="font-medium">10</span>
            of
            <span class="font-medium">20</span>
            results
        </p>
    </div>
    <div class="flex flex-1 justify-between sm:justify-end">
        <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
        <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
    </div>
</nav>


@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public int Index { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int RecordByPage { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public bool ShowDeleted { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? SearchQuery { get; set; }

    public ViewContragentPagination Result { get; set; } = new();

    protected override void OnInitialized()
    {
    }

    public async void Request()
    {
        var credentials = new dtoCredentials()
        {
            Login = "7999323",
            Password = "adfads",
            IpAdress = "",
            FingerPrint = "sd"
        };

        var json = await Api.Security.CreateSessionAsync(credentials);
    }

}